.navigation-bar {
    display: flex;
    justify-content:space-around;
    align-items: center;

    block-size: 125px;
    background-color: rgb(52, 192, 192);
    color: black;

    border-width: 5px;
    border-color: rgba(39, 128, 128);
    border-style: solid;
    border-radius: 10px;

}

