.navigationbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 50px;

    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    background-color: rgb(52, 192, 192);
    
    border: 1px;
    border-radius: 10px;
    border-color: rgba(39, 128, 128);
    
    box-shadow: rgb(52, 192, 192);
    
    
    cursor: pointer;

}